body{background-image: url(ù.jpg);}
header{background-image: url(5.jpg);   text-align: center;font-style: italic; border: 20px solid black;font-size: 30px;border-radius: 50pt;transition: all;}
fieldset{border-color: aquamarine;}
header:hover{background-image:url(8.jpg);}
.d {background-color:lightgreen;font-size: 20px;padding-left: 20px;padding-bottom: 20px;}
#m{border-radius: 20px;border-style: groove;background-color:lightgreen;margin-right: 960px;padding-left: 40px;}
#t{float: right;width: 270px;background-color :lightgreen;padding-left: 20px;}
#i{float: right;width: 250px;background-color:lightgreen;padding-right: 40px;margin-left: 20px;}
figcaption{padding-right:20px;padding-left: 20px;   border-style: double;background-color:ghostwhite;margin-left: 40px;font-size:15px;font-style: italic}
h1{color:black;transition: 1s ease-in-out}
h1:hover{color:greenyellow;}